<div class="container">
    <div class="upload-container">
        
        <h3 class="mt-2"> <img src="../../assets/checkmark.png" alt="checkmark"> Uploaded Successfully</h3>
        <br>
        <img src="../../assets/completed.jpg" id="showimg" alt="image">
        <br>
        <div class="card-body">
            <div class="input-group">
                <input type="text" value={{link}} #userinput>
                <button type="button" class="btn btn-primary" (click)="copyInputMessage(userinput)">Copy
                    Link</button>
            </div>
        </div>
        <button class="btn btn-success" [routerLink]="['/']">Home</button>
    </div>
</div>