<div class="container">
    <div class="upload-container">
        <div class="headline py-3 px-5 mb-2 bg-primary text-white">
            <h5>Share Your Files Superquickly</h5>
        </div>
        <div class="uploader">
            <h3>Upload Your File</h3>
            <!-- <p>File should be jpeg,png..</p> -->
            <div class="drag-container">

                <div class="dropdiv" [class.processing]="processing" (dragover)="onDrag($event)"
                    (drop)="onDrop($event)">
                    <input type="file" (change)="onChange($event)" style="display:none">
                    <img src="../../assets/files.jpg" alt="icon" class="files rounded mb-3 d-block">
                    <p class="msg mx-2">Drag and Drop your File here</p>
                </div>
            </div>
            <p>Or</p>

            <div class="upload">
                <input type="file" name="uploadfile" id="img" style="display:none;" (change)="selectFile($event)" />
                <label for="img" class="btn btn-primary">Choose a file</label>
            </div>

            <div class="col-2">
                <button class="btn btn-success btn-sm" [hidden]="!selectedFiles" (click)="upload()">
                    Upload
                </button>
            </div>


            <div *ngIf="errmsg" class="alert alert-secondary" role="alert">{{ errmsg }}</div>
        </div>
    </div>
</div>