.container, .drag-container, .upload-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
}

.upload-container{
    border: 1px solid black;
    padding: 20px 15px;
    width: 400px;
    height: 470px;
    justify-content: space-around;
    border: none;
    box-shadow: 1px 2px 20px 0px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.drag-container{

    box-sizing: border-box;
    padding: 20px 10px;
    background: #F6F8FB;
    border: 2px dashed #97bef49c ;
    border-radius: 12px;
}

